<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167134198071-udpqbn518sgqvh2f9cbse1vghfreibe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167134198071-udpqbn518sgqvh2f9cbse1vghfreibe7</string>
	<key>API_KEY</key>
	<string>AIzaSyAxXAdFs6JzJg-SolECzAh6dKoYmtTDBKM</string>
	<key>GCM_SENDER_ID</key>
	<string>167134198071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ookami-tech.Kelly-Pocket</string>
	<key>PROJECT_ID</key>
	<string>kellypocketdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>kellypocketdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167134198071:ios:ef4e243c4927c223</string>
	<key>DATABASE_URL</key>
	<string>https://kellypocketdatabase.firebaseio.com</string>
</dict>
</plist>